body {
  background-color: rgb(38, 38, 38);
}

h2 {
  color: white;
  text-align: center;
}

#Heading
{
  position: absolute;
  right: 15%;
  top:1.5%;
  width: 65%;
  height:10%;
  background-color:var(--header-color);
  /* background-color: rgb(13, 15, 43); */
  color: white;
  text-align: center;
  font-size: xx-large;
  line-height: 80px;
  border-radius: 30px 30px 0px 0px;
}


#chat-bg-box {
  position: absolute;
  width: 65%;
  height: 87%;
  right: 15%;
  top: 11.5%;
  background-size: cover;
  background-position: center;
  z-index: 1
}

#bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* black overlay at 50% opacity */
    z-index: 0;
}

#ChatContainer {
  position: absolute;
  height: 82%;
  width: 95%;
  left: 2.5%;
  top: 5%;
  color: rgb(255, 255, 255);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-behavior: smooth;
}

#text-input-box-background {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color:var(--header-color);
  /* background-color: rgb(13, 15, 43); */

  bottom: 0px;
}

.TextBoxInput {
  position: absolute;
  width: 85%;
  height: 60%;
  bottom: 20%;
  left: 1.5%;
  border-radius: 20px;
  border: 0;
}

#clear-button
{
  position: absolute;
  width: 10%;
  height: 60%;
  right: 2%;
  bottom: 20%;
  border-radius: 20px;
}

.HelpBox
{
  position:absolute;
  left:0.5%;
  bottom: 2%;
  width: 17%;
  height: 6%;
  background-color: var(--bot-color);
  color: black;
  font-size: 120%;
  padding: 0.7%;
  border-radius: 20px;
}

#question-button
{
  background-color: var(--user-color); 
  border-radius: 10px;
  font-size: medium;
}

:root {
    --bot-color: rgb(131, 50, 88);
    --user-color: rgb(118, 86, 141);
    --header-color: rgb(76, 52, 104);
}

.BotMessage  {
  clear: both;
  align-self: flex-start;
  padding: 1.5%;
  line-height: 150%;
  color: black;
  border-radius: 25px;
  font-size: larger;
  max-width: 50%;
  word-wrap: inherit;
  float: left;
  margin: .5%;
  background-color: var(--bot-color);

}

.UserMessage  
{
  /* display: inline-block; */
  padding: 1.5%;
  line-height: 150%;
  color: black;
  border-radius: 25px;
  font-size: larger;
  max-width: 40%; 
  word-wrap: break-word;
  float: right;
  margin : 1%;
  background-color: var(--user-color);
}


div.Container div:last-child
{
  animation: floatup 0.5s forwards;
}

.image
{
  margin: 0.5%;
  padding: 1.5%;
  border-radius: 10px;
  width:fit-content;
  max-width:45%
}

table, th, td
{

  max-width: 98%;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 2%;
  font-size:large;

} 

.table 
{
  width: 65%;
  margin: top 1%;;
  margin-bottom: 1%;
  padding: 2%;
  border-radius: 25px;
  color : black
}

#themeChanger
{
  position: absolute;
  right: 2%;
  bottom : 2%;
  width: 8%;
  height: 5%;
  background-color: rgb(145, 142, 142);
  border-radius: 10px;
}

@keyframes floatup {
  from {
      transform: translateY(15px);
      opacity: 0  ;
  }
  to {
      transform: translateY(0px);
      opacity: 1;
  }
}
